html {
  font-size: 16px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}
body{
  height: 100vh;
}

kbd {
  color: #fff;
}
.key{
  font-size: 6rem;
  border: 5px black solid;
  padding: 10px 50px;
}

.keys{
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.sound {
  font-size: 1rem;
  color: 'orange';
  display: block;
  text-align: center;
}